[save_variables]
filename: ~/printer_data/config/toolchanger-settings.cfg

[tower_align]
# Башни T0
t0_x_tower_position: 48.5,34.95
t0_y_tower_position: 34.95,48.5

# Башни T1
t1_x_tower_position: 48.5,65.05
t1_y_tower_position: 65.05,48.5

# Параметры измерения
coarse_step: 0.6
fine_step: 0.05
coarse_backoff: 0.6
lift_distance: 0.6
trigger_diff: 0.2
tolerance: 0.05
probe_height: 4

# Скорости
lift_speed: 300
probe_speed: 300
travel_speed: 300

# Имена переменных (должны соответствовать переменным в вашем конфиге)
variable_t1x: t1_x_offset
variable_t1y: t1_y_offset

t0_x_direction: 1
t0_y_direction: 1
t1_x_direction: 1
t1_y_direction: 1

[gcode_macro PREPARE_TOOLHEAD]
description: Макрос подготовки перед автосовмещением офсетов X и Y.
gcode:
    {% set cur_temp = printer[printer.toolhead.extruder].temperature|float %}
    {% if cur_temp >= 200 %}
        G91
        G1 E-2 F2000
        G1 Z+3 E-6 F5000
        G90
    {% else %}
        G91
        G1 Z+3 F5000
        G90
    {% endif %}
    T0
    G1 X0 Y0 F6000
    G1 Z-0.2 F6000
